
h1 {
   font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}
    p {
        font-size: 20px;
        color:black;
        margin-bottom: 20px;
        margin-left: 50px;
        background-color: beige;
    }
    a {
font-size: 20px;
color:black;
margin-left: 50px;
margin-top: 50px;
    }
    img{
        width:100%;
        max-width: 300px;
    }
/*Задаём общие параметры для всей страницы: шрифт и отступы*/
body {
    /*text-align: center;*/
    margin: 10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  /* Настраиваем внешний вид полей ввода*/
  input {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  textarea {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  files {
    font-size: 30px;
  }
  li {list-style-type: none;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
   h3 {
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 50px;
   }
   a {text-decoration: none;
}